# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Virtual environments
.env/
.venv/
env/
venv/

# IDEs
.vscode/
.idea/

# System files
.DS_Store
Thumbs.db

# Archives and outputs
*.zip
*.tar.gz
*.egg-info/
dist/
build/
